{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class = "text-center mt-5">
    <h1>{{ 'Welcome to recipe life' | trans }}</h1>
    <img src="https://cdn.cultura.com/cdn-cgi/image/width=830/media/pim/TITELIVE/81_9791090413009_1_75.jpg" alt="photo" class="img-fluid">
</div>



{% endblock %}
