body {
    background-color: #FCFCFC;
}
.alert {
    padding: 10px;
    color: white;
    text-align: center;
}
  
.alert-success {
    background-color: green;
}
  
.alert-error {
    background-color: red;
}
  
.alert-info {
    background-color: blue;
}

body {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}