{% extends 'base.html.twig' %}
{% block body %}
  <div class="jumbotron">
    <h1>Bienvenue sur FigurineVie</h1>
    <p>Partagez vos figurines, trouvez l'inspiration et organisez vos collections.</p>
    <p><a class="btn btn-primary" href="{{ path('app_figurine_index') }}">Voir les figurines</a></p>
  </div>
{% endblock %}
